<form class="form ng-untouched ng-pristine ng-valid" novalidate>
    <div class="form-group d-flex center">
      <label class="titulo">
          Referencia:
      </label>
      <div class="col-sm-8 d-flex align-items-center"> 
        <input type="text" class="form-control mb-0" id="fileForm" placeholder="Seleccione una referencia" >
          
      </div>
      <div class="col-sm-1">
          <button class="btn btn-orangeC btn-sm btn-lg">Buscar</button>
      </div>
    </div>
  
  </form>
